button {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.submit-btn{
  background-color: #000;
}


button svg {
  font-size: 18px;
  margin-right: 5px;
  color: #333;  
}

.todo-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.new-task-input {
  text-align: center;
  margin-bottom: 20px; 
}

.new-task-input input {
  padding: 8px;
  font-size: 16px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.new-task-input button {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.task-lists {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  width: 100%;
}

.task-section {
  width: 500px;
  height: 400px;
  padding: 20px;
  background-color: rgb(245, 244, 244); 
  border-radius: 5px;
}



.todo-item {
  background-color: rgb(238, 238, 200);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
}

.todo-item span {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 16px;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 10px;
}

.edit-btn {
  background-color: #007bff; /* Blue */
  color: white;
}

.delete-btn {
  background-color: #dc3545; /* Red */
  color: white;
}

.move-btn {
  background-color: #28a745; /* Green */
  color: white;
}
